<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset class="border p-2">
        <legend class="w-auto"></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% if question.choice_set.all %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    <br>
                {% endfor %}
                <input href='' class="btn btn-primary" type="submit" value="Vote">
                <br>
            {% else %}
                <p>Add some choices!</p>
            {% endif %}
    </fieldset>
    <br>
</form>
<div class="addChoice row justify-content-center">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="newChoice">
        <button class="btn btn-primary" type="submit" name="addChoice" value="addChoice" href="#Polls">
            Add Choices
        </button>
    </form>
    <hr>
    <form action="{% url 'polls:delete' question.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-secondary" action="{% url 'polls:delete' question.id %}" method="post" type="submit" name='delete' value='delete'>
            Delete Question
        </button>
    </form>
</div>
