{% extends 'polls/base.html' %}

{% block content %}
    {% if latest_question_list %}
        <div class="row justify-content-center" >
            {% for question in latest_question_list %}
                <div id="question{{ forloop.counter }}" class="col-sm-8" style="padding-bottom: 1vw;">
                    <div class="card">

                    <!-- -------------Header----------------- -->
                        <div class="card-header">
                            <h4 class="text-center">{{ question.question_text }}</h4>
                            <ul class="nav nav-tabs card-header-tabs justify-content-center">
                                <li class="nav-item">
                                    <a id="nav-polls{{ forloop.counter }}" class="nav-link" onclick="$('#Polls{{ forloop.counter }}').toggle();$('#Vote{{ forloop.counter }}').attr('Style','display: none;');$('#nav-polls{{ forloop.counter }}').toggleClass('active');$('#nav-vote{{ forloop.counter }}').removeClass('active')">
                                        Polls
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="nav-vote{{ forloop.counter }}" class="nav-link" onclick="$('#Vote{{ forloop.counter }}').toggle();$('#Polls{{ forloop.counter }}').attr('Style','display: none;');$('#nav-vote{{ forloop.counter }}').toggleClass('active');$('#nav-polls{{ forloop.counter }}').removeClass('active')">
                                        Vote
                                    </a>
                                </li>
                            </ul>
                        </div>

                    <!-- ------------- Poll Card----------------- -->
                        <div id="Polls{{ forloop.counter }}" class="card-body" style="display: none">
                            {% include 'polls/results.html' %}
                        </div>

                    <!-- ------------- Vote Card----------------- -->
                        <div id="Vote{{ forloop.counter }}" class="card-body" style="display: none">
                            {% include 'polls/detail.html' %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='text-center'><a href="{% url 'polls:all' %}">Show More</a></div>

    {% elif all_questions %}
        <div class="row">
            {% for question in all_questions %}
            <div id="question{{ forloop.counter }}" class="col-sm-6" style="padding-bottom: 1vw;">
                <div class="card">

                <!-- -------------Header----------------- -->
                    <div class="card-header">
                        <h4 class="text-center">{{ question.question_text }}</h4>
                        <ul class="nav nav-tabs card-header-tabs justify-content-center">
                            <li class="nav-item">
                                <a id="nav-polls{{ forloop.counter }}" class="nav-link" onclick="$('#Polls{{ forloop.counter }}').toggle();$('#Vote{{ forloop.counter }}').attr('Style','display: none;');$('#nav-polls{{ forloop.counter }}').toggleClass('active');$('#nav-vote{{ forloop.counter }}').removeClass('active')">
                                    Polls
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="nav-vote{{ forloop.counter }}" class="nav-link" onclick="$('#Vote{{ forloop.counter }}').toggle();$('#Polls{{ forloop.counter }}').attr('Style','display: none;');$('#nav-vote{{ forloop.counter }}').toggleClass('active');$('#nav-polls{{ forloop.counter }}').removeClass('active')">
                                    Vote
                                </a>
                            </li>
                        </ul>
                    </div>

                <!-- ------------- Poll Card----------------- -->
                    <div id="Polls{{ forloop.counter }}" class="card-body" style="display: none">
                        {% include 'polls/results.html' %}
                    </div>

                <!-- ------------- Vote Card----------------- -->
                    <div id="Vote{{ forloop.counter }}" class="card-body" style="display: none">
                        {% include 'polls/detail.html' %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class='text-center'><a href="{% url 'polls:index' %}">Show Less</a></div>

    {% elif alert_flag %}
        <script>alert("Sorry! You didn't select an option. Try again.");window.location.href="/polls"</script>
    {% endif %}
    <br>
{% endblock %}
